*{	
	box-sizing: border-box;
}
body{
	margin:0;
}
header {
	background-color: : red;
	padding: 50px;
	text-align: center; 
}
.column	{
	float: left;
	padding: 10px;
	height: 300px;
}
.column.side {
	width: 25%;
}
.column.middle {
	width: 50%;
}


footer{	
	background-color: red;
	padding: 10px;
	text-align: center; 
}

@media (max-width: 600px){
	.column.side, .column.middle {
		width: 100%;
	}
}