body{
	margin: 0;
}
header{
	border-bottom:black solid 1px;
	position:fixed;
	z-index:2;
	width:100%;
	background:rgb(230,230,230);
	height:12%;
	opacity: 85%;
	font-family: Arial;
}
#hlogo1{
	width:23%; 
	padding-top: 0.5%;
	position: fixed;
	z-index: 2;
	margin-left: 40%;
}
.hbotao{
	color:black!important;
	width:13.2%; 
	height:11.7%;
	background: -webkit-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	background: -moz-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	background: -ms-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	background: -o-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	background: radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	position: fixed;
	font-size:1.17vw;
	text-decoration:none;
	text-align: center;
	padding-top: 2.0%;
	border-radius:55%;
}
#hbotao1{
	left: 71.58%;
}
#hbotao2{
	left: 86.78%;
}
header div .hbotao:hover{
    background: none;
	color:rgb(28,28,28)!important;
	background-color: white;
	text-decoration:none;
	color: orange!important;
}
#hdiv1{	float:left;}
#hdiv2{	padding-left: 1px;}
#espacamento50d{padding-right: 50px;}
#espacamento5d{padding-right: 5px;}

/*@media (max-width: 600px){

	header{
		max-height:5%;
	}
	.hbotao{
		max-height:5%;
	}
	#hlogo1{
		width:7.6%; 
	}
	header .hamburguer{
		display: block!important;
	}

	header .hamburguer img{
		width: 37%;
		float: left;
		padding: 3%;
	}

	header .links a {
		display: none!important;
		text-align: right;
		width: 100%;
		float: none!important;
	}
}*/

#menulateral{
	border-right:black solid 1px;
	width: 15%; 
	height:80%;
	z-index: 1;
	background: black;
	position: fixed;
	font-size: 1.17vw;
	text-align: center;
	margin-top: 5.7%;

}
.lbotao{
	background-color: black;
	color:white;
	height: 10%;
	z-index: 2;
	border-top:1px;
	border-radius:10px;
	border:1px white solid;
	padding-top: 6%;
}
.lbotao:hover{
	color:orange!important;
}