<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>angular</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	</head>
	<body>
		<form name="myform">
			<input type="email" name="myinput" ng-model="myinput" required>
		</form>
		<p>o estado do input é</p>
		<p>{{myform.myinput.$valid}}</p>

		<form name="myform2">
			<p>nome: 
				<input name="myname" ng-model="myname" required>
				<span ng-show="myform2.myname.$touched && myform2.myname.$invalid">
					o nome é obrigatorio
				</span>
			</p>
		</form>
	</body>
</html>