@{
    ViewData["Title"] = "Condado";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos!</h1>
    <p>Conheça nosso acervo Principal  <a href="https://condado.acervodejogos.com.br/" target="blank">clicando aqui!</a></p>
</div>
