@{
    ViewData["Title"] = "Condado";
}


    
<div class="text-center">
    <h1 class="display-4">Bem vindos!</h1>
    <p>Para alugar os jogos <a href="https://condado.acervodejogos.com.br/" target="blank">clique aqui!</a></p>
</div>
