*{
	box-sizing: border-box;
}

body{
	margin:0;
	font-family: Verdana,sans-serif;
	font-size: 13px;
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
	}

section{
	width: 100%;
	float:left;
}

a{
	text-decoration: none;
}

.container{
	width: 1100px;
	margin: 0 auto;
}

.column{
	padding: 15px;
	float: left;
}

.column-3{
	width: 33.3%;
}


.column-6{
	width: 50%;
}


.column-12{
	width: 100%;
}

nav{
	width: 100%;
	overflow: hidden;
	background-color: black;
	position: fixed;
}

nav .logo{
	float: left;
	color: red;
	text-align: center;
	padding: 14px 16px;
}

nav a{
	float: right;
	display: block;
	color: red;
	text-align: center;
	padding: 14px 16px;
}

nav a:hover{
	background-color: blue;
}

main section.banner{
	width: 100%;
	height: 596px;
	background-image: url(../img/716.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

main section.banner h2{
	width: 100%;
	color: black;
	float: left;
	margin-top: 250px;
	text-shadow: 2px 2px 5px red;
}

main section.banner p{
	width: 100%;
	color: black;
	text-align: center;
	float: left;
	margin-top: 10px;
	text-shadow: 2px 2px 5px red;
}

main section.servicos{
	width: 100%;
}

main section.servicos .column .imagem{
	height: 500px;
	box-shadow: 2px 2px 5px blue;

}

main section.servicos .column .imagem:hover{
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);
}

main section.servicos .column #imagem1{
	background-image: url(../img/718.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

main section.servicos .column #imagem2{
	background-image: url(../img/719.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

main section.servicos .column #imagem3{
	background-image: url(../img/720.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}




