body{
	margin: 0;


}

.bg{
	width: 100%;
	min-height: 1080px;
	background-image: url(../img/608.png),url(../img/607.jpg);
	/*ordem de imagem interfere*/
	background-position: left top, right bottom;
}