*{	
font: Arial;
}
main{
text-align: center;
}
body{
	margin: 0;
}
header{
	border-bottom:black solid;
	position:fixed;
	z-index:2;
	width:100%;
	background:rgb(230,230,230);
	height:11.7%;
	opacity: 85%;
}
@media(max-width: 600px){
	header{
		max-height:5%;
	}
}

#hlogo1{
	border-right: 1px solid black;
	width:5.6%; 
	position: fixed;
	z-index:10;
}
#hlogo2{
	width:22%; 
	padding-left: 37%;
	padding-top: 0.5%;
	position: fixed;
}

#hbotao1{
	color:black!important;
	width:13.2%; 
	height:11.7%;
	background: -webkit-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	background: -moz-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	background: -ms-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	background: -o-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	background: radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));
	position: fixed;
	left: 72.55%;
	font-size:1.17vw;
	text-decoration:none;
	text-align: center;
}

header div #hbotao1:hover{
    background: none;
	color:rgb(28,28,28)!important;
	background-color: gray;
}

#hbotao2{
	color:black!important;
	width:13.2%; 
	height:11.7%;
	background: -webkit-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*safari*/
	background: -moz-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*mozzila firefox*/
	background: -ms-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*microsoft*/
	background: -o-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*opera*/
	background: radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*padrão*/
	position: fixed;
	left: 85.75%;
	font-size:1.17vw;
	text-decoration:none;
	text-align: center;
}

#hdiv1{	float:left;}
#hdiv2{
	padding-left: 992px;
}
#espacamento50d{padding-right: 50px;}
#espacamento5d{	padding-right: 5px;}

#menulateral{
	margin: 5.68% 0% 0% 0%;
	border-right:black solid medium;
	width: 10%; 
	height:40%;
	z-index: 1;
	background: rgb(230,230,230);
	position: fixed;
	font-size: 1.17vw;
}

