*{	
font: Arial;
}
main{
text-align: center
}
body{
	margin: 0;
}
header{
	border-bottom:black solid;
	position:fixed;
	z-index:2;
	width:100%;
	background:rgb(230,230,230);
	min-height:11.7%;
	opacity: 85%;
}
#hlogo1{
	border-right: 2px solid black;
	width:6%; 
	height:11.8%;
	position: fixed;
}
#hlogo2{
	width:22%; 
	height:10%;
	padding-left: 37%;
	padding-top: 0.5%;
	position: fixed;
}
#hbotao1{
	color:black!important;
	width:13.2%; 
	height:11.7%;
	background: -webkit-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*safari*/
	background: -moz-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*mozzila firefox*/
	background: -ms-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*microsoft*/
	background: -o-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*opera*/
	background: radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*padrão*/
	position: fixed;
	left: 72.55%;
	font-size:1.17vw;
	text-decoration:none;
	text-align: center;
}

#hbotao2{
	color:black!important;
	border: 0;
	width:13.2%; 
	height:11.7%;
	background: -webkit-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*safari*/
	background: -moz-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*mozzila firefox*/
	background: -ms-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*microsoft*/
	background: -o-radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*opera*/
	background: radial-gradient(rgb(192,192,192),rgb(128,128,128),rgb(79,79,79),rgb(28,28,28));/*padrão*/
	position: fixed;
	left: 85.75%;
	font-size:1.17vw;
	text-decoration:none;
	text-align: center;
}

#hdiv1{	float:left;}
#hdiv2{
	padding-left: 992px;
}
#espacamento50d{padding-right: 50px;}
#espacamento5d{	padding-right: 5px;}

#menulateral{
	margin: 5.65% 0% 0% 0%;
	border-right:#000000 solid medium;
	width: 10%; 
	height:100%;
	z-index: 1;
	background: rgb(230,230,230);
	overflow-x: hidden;
	position: fixed;
	padding-top: 100px;
	font-size: 1.17vw;
}